.navbar-brand{
    font-size: 30px !important;
    color: rgba(0, 0, 0, 0.788) !important;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    display: flex;
    align-items: center;
}
.navbar-brand img{
    margin-right: 10px;
}
.navbar-nav{
    font-size: large;
    font-weight: bold;
    margin-left: 150px;
    gap: 20px;
}